---
import Layout from "../layout/Layout.astro";
import { WordLib } from "@arvidbt/wordlib";
import { swedish_words } from "@arvidbt/swedish-words";

// const words = new WordLib(swedish_words).random({ length: 10 });
---

<Layout title={"ordlek"}>
  <h1>Hejhej</h1>
</Layout>
