---
import MainInputField from "@/components/MainInputField.astro";
import SearchButton from "@/components/SearchButton.astro";
import SubInputField from "@/components/SubInputField.astro";
import WordContainer from "@/components/WordContainer.astro";
import Layout from "@/layout/Layout.astro";
import { findMatchingWords } from "@/lib/ordlos";
import { wordlib } from "@/lib/word-service";

const words: string[] = [];
const details = ["Use '?' for letters you want to guess."];
let excludedLetters = "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const guessedWord = data.get("guess") as string;
    const includedLetters = data.get("included") as string;
    excludedLetters = data.get("letters") as string;

    const possibleWords = wordlib.getPossibleWords(guessedWord.toLowerCase());

    words.push(
      ...findMatchingWords(possibleWords, includedLetters, excludedLetters)
    );
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <h1 class="font-black text-base uppercase text-app-light-gray">wordfeusk</h1>
  <ul class="text-xs opacity-50 font-semibold pb-2">
    {details && details.map((d) => <li>{d}</li>)}
  </ul>
  <form method="POST" autocomplete="off">
    <div class="flex justify-evenly">
      <SubInputField placeholder="your guess" componentId="guess" />
      <SubInputField
        placeholder="included"
        componentId="included"
        marginLeft={true}
      />
    </div>
    <div class="flex justify-evenly">
      <MainInputField placeholder="excluded characters" />
      <SearchButton />
    </div>
  </form>
  <WordContainer result={words} />
</Layout>
