---
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <h1 class="font-black text-lg">Services</h1>
  <ul class="text-xs">
    <li>anagramsOf</li>
    <li>isWord</li>
    <li>random</li>
    <li>containing</li>
    <li>getPossibleWords</li>
    <li>ofLength</li>
    <li>similarTo</li>
    <li>endsWith</li>
    <li>startsWith</li>
    <li>palindromes</li>
  </ul>
</Layout>
