---
import ListItem from "@/components/ListItem.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <p class="text-xs font-semibold opacity-75 pt-3">
    <span class="text-app-light-blue">WordLib</span> consists of many features,
    and all of them cannot get their own dedicated service. However, some of
    them are demonstrated here.
  </p>
  <ul class="pt-3 text-xs font-semibold">
    <ListItem href="/anagrams-of" title="AnagramsOf" />
    <ListItem href="/ends-with" title="endsWith" />
    <ListItem href="/is-word" title="isWord" />
    <ListItem href="/random" title="random" />
    <ListItem href="/of-length" title="ofLength" />
    <ListItem href="/palindromes" title="palindromes" />
    <ListItem href="/similar-to" title="similarTo" />
    <ListItem href="/starts-with" title="startsWith" />
  </ul>
</Layout>
