---
import ListItem from "@/components/ListItem.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <p class="text-xs font-semibold opacity-75 pt-3">
    <span class="text-app-light-blue">WordLib</span> consists of many features,
    and all of them cannot get their own dedicated service. However, some of
    them are demonstrated here.
  </p>
  <ul class="pt-3 text-xs font-semibold">
    <ListItem
      href="/anagrams-of"
      title="AnagramsOf"
      info="Get anagrams derived from a word."
    />
    <ListItem
      href="/ends-with"
      title="endsWith"
      info="Get words ending with a word."
    />
    <ListItem
      href="/is-word"
      title="isWord"
      info="Check if a word is in fact a word."
    />
    <ListItem href="/random" title="random" info="Get a random word." />
    <ListItem
      href="/of-length"
      title="ofLength"
      info="Get words of desired length."
    />
    <ListItem
      href="/palindromes"
      title="palindromes"
      info="Get palindromes from dictionary."
    />
    <ListItem
      href="/similar-to"
      title="similarTo"
      info="Get words similar to other words."
    />
    <ListItem
      href="/starts-with"
      title="startsWith"
      info="Get words starting with a word."
    />
  </ul>
</Layout>
