---
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <div class="flex items-center justify-center">
    <p class="text-sm py-2 font-semibold">This feature is coming soon...</p>
  </div>
</Layout>
