---
import Layout from "@/layout/Layout.astro";

const MAX_ALLOWED_PIPES = 2;
const MIN_ALLOWED_CHARACTERS = 2;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const payload = data.get("letters") as string;

    if (payload.split("|").length - 1 > 2) {
      throw new Error("bajs!");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <form method="POST">
    <div class="relative">
      <input
        type="search"
        name="letters"
        id="default-search"
        class="block w-full p-4 pl-2 text-sm font-black items-center text-red-500 rounded-lg bg-slate-800 focus:bg-slate-600 focus:outline-none"
        required
      />
    </div>
  </form>
</Layout>
