---
import InputField from "@/components/InputField.astro";
import Layout from "@/layout/Layout.astro";
import { wordlib } from "@/lib/word-service";

const MAX_ALLOWED_PIPES = 2;
const MIN_ALLOWED_CHARACTERS = 2;

const LETTERS: { [key: string]: string[] } = {
  ONE_POINT: ["a", "e", "i", "o", "u", "l", "n", "r", "s", "t"],
  TWO_POINTS: ["d", "g"],
  THREE_POINTS: ["b", "c", "m", "p"],
  FOUR_POINTS: ["f", "h", "v", "w", "y"],
  SEVEN_POINTS: ["k"],
  EIGHT_POINTS: ["j", "x"],
};

const LETTER_POINTS: { [key: string]: number } = {
  ONE_POINT: 1,
  TWO_POINTS: 2,
  THREE_POINTS: 3,
  FOUR_POINTS: 4,
  SEVEN_POINTS: 7,
  EIGHT_POINTS: 8,
};

type wordArrayType = {
  length: number;
  words: string[];
};

const words: string[] = [];
const sortedWords: wordArrayType[] = [];
const wordLengths: { [length: number]: string[] } = {};
let time = 0;

function calculatePoints(word: string): number {
  let wordWorth = 0;
  for (let letter of word) {
    for (const category in LETTERS) {
      if (LETTERS[category].includes(letter)) {
        wordWorth += LETTER_POINTS[category];
        break;
      }
    }
  }
  if (word.length > 6) {
    wordWorth += 40;
  }

  return wordWorth;
}

function countWords(words: wordArrayType[]): number {
  let totalWords = 0;
  for (const items of words) {
    totalWords += items.words.length;
  }
  return totalWords;
}

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const payload = data.get("letters") as string;
    const start = performance.now();
    const wordlibWords = wordlib.getWildcardWords(payload.toLowerCase());
    const end = performance.now();
    time = end - start;

    words.push(...wordlibWords);
    words.forEach((word) => {
      const length = word.length;
      if (length < MIN_ALLOWED_CHARACTERS) {
        return;
      }
      if (!wordLengths[length]) {
        wordLengths[length] = [];
      }
      if (word.includes(":")) {
        return;
      }
      wordLengths[length].push(word);
    });

    for (const [key, value] of Object.entries(wordLengths)) {
      sortedWords.push({ length: parseInt(key), words: value });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <InputField
    service="your letters."
    details={["Use '?' for wildcard character behaviour."]}
  />
  <div>
    {
      time > 0 && (
        <div class="pt-2">
          <p class="text-xs font-semibold opacity-75">
            Found{" "}
            <span class="text-app-light-blue opacity-100">
              {countWords(sortedWords)}
            </span>{" "}
            words in{" "}
            <span class="text-app-light-blue opacity-100">{time | 0}</span> ms.
          </p>
        </div>
      )
    }
  </div>
  <div class="py-4">
    {
      sortedWords.map((w) => {
        return (
          <div class="flex flex-wrap items-center gap-2">
            {w.words && w.words.length > 0 && (
              <div class="flex flex-wrap gap-2 my-2 rounded-lg bg-slate-800 p-2">
                {w.words.map((w) => (
                  <div class="text-sm border py-0.5 px-2.5 rounded-md font-extrabold bg-app-dark-blue text-offwhite outline-none border-none">
                    <p class="uppercase">
                      {w}{" "}
                      <span class="font-black text-xs opacity-70 text-yellow-500">
                        {" "}
                        {calculatePoints(w)}p
                      </span>
                    </p>
                  </div>
                ))}
              </div>
            )}
          </div>
        );
      })
    }
  </div>
</Layout>
