---
import NavItem from "./NavItem.astro";
const { pathname } = Astro.url;
---

<div
  class="bottom-0 z-50 w-full py-2 flex justify-center pt-5 bg-app-dark-gray"
>
  <div
    class="px-4 w-full max-w-screen-md m-auto flex items-center justify-start"
  >
    <a href="https://arvidbt-dev.vercel.app/" target="_blank">
      <p class="text-xs font-black">arvidbt.dev</p>
    </a>
  </div>
</div>
