---
import { Icons } from "./Icons";
---

<div class="w-full py-4 px-4">
  <div class="items-center py-4 max-w-screen-md mx-auto flex justify-between">
    <div class="flex gap-x-4">
      <div class="flex text-sm font-black">
        <div class="flex justify-evenly m-auto space-x-2">
          <p>
            <span>Created by</span>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://arvidbt-dev.vercel.app/"
              class="group relative h-12 w-12"
              aria-label="Visit Arvids personal website"
            >
              <p class="text-app-light-blue underline">Arvid</p></a
            >
          </p>
        </div>
      </div>
    </div>
    <p class="font-black text-xs text-app-light-gray">
      v.<span class="text-app-light-blue">1.0.3</span>
    </p>
  </div>
</div>
