---

---

<div class="w-full py-4 px-4">
  <div class="items-center py-4 max-w-screen-md mx-auto flex justify-between">
    <div class="flex gap-x-4">
      <p class="font-black text-xs text-app-light-gray">
        v.<span class="text-app-light-blue">1.0.0</span>
      </p>
    </div>
  </div>
</div>
