---
interface Props {
  service: string;
  details?: string[];
}

const { service, details } = Astro.props;
---

<h1 class="font-black text-base uppercase text-app-light-gray">
  {service}
</h1>
<ul class="text-xs opacity-50 font-semibold pb-2">
  {details && details.map((d) => <li>{d}</li>)}
</ul>
<form method="POST">
  <div class="relative">
    <input
      type="search"
      name="letters"
      id="default-search"
      class="block w-full p-4 pl-2 text-xl font-black items-center rounded-lg text-center text-app-light-gray bg-slate-800 focus:bg-app-dark-blue focus:outline-none focus:p-8"
      required
    />
  </div>
</form>
