---
import { cn } from "@/lib/utils";
interface Props {
  color: string;
  letter: string;
}

const { color, letter } = Astro.props;
---

<p
  class={cn(
    "bg-gray-700 w-8 p-1 flex items-center justify-center h-8 rounded-sm font-black select-none text-xl",
    color && color
  )}
>
  {letter}
</p>
