---
interface Props {
  title: string;
  href: string;
  info?: string;
}

const { href, title, info } = Astro.props;
---

<a href={href}>
  <div
    class="text-app-light-blue opacity-100 text-sm bg-app-dark-blue rounded-md p-2 my-2"
  >
    {title}
    <span class="text-app-light-gray text-xs">{" "}{info}</span>
  </div>
</a>
