---
import NavItem from "./NavItem.astro";
const { pathname } = Astro.url;
---

<div class="fixed top-0 z-50 w-full py-2 flex justify-center pt-5 bg-nice">
  <div
    class="px-2 w-full max-w-screen-md m-auto flex items-center justify-start"
  >
    <nav class="flex gap-x-8">
      <a href="/"><p class="font-black text-xl">WordLib</p></a>
      <NavItem
        active={pathname.includes("/wordfeusk/") || pathname === "/wordfeusk"}
        href="/wordfeusk"
      >
        <p class="text-xs">WordFeusk</p>
      </NavItem>
      <NavItem
        active={pathname.includes("/solvordel/") || pathname === "/solvordel"}
        href="/solvordel"
      >
        <p class="text-xs">SolvOrdel</p>
      </NavItem>
      <NavItem
        active={pathname.includes("/other-services/") ||
          pathname === "/other-services"}
        href="/other-services"
      >
        <p class="text-xs">...</p>
      </NavItem>
    </nav>
  </div>
</div>
