---
import { cn } from "@/lib/utils";
interface Props {
  active?: boolean;
  href: string;
}

const { href, active } = Astro.props;
---

<a
  class={cn(
    "group inline-flex items-center gap-x-2 opacity-80 hover:opacity-100 font-black",
    !active && "opacity-40"
  )}
  ,
  href={href}
>
  <slot />
</a>
