---
interface Props {
  words: string[];
  wordLength: number;
}

const { words, wordLength } = Astro.props;
---

<div class="flex flex-wrap items-center gap-2 p-4">
  {
    words && words.length > 0 && (
      <div class="bg-slate-700 my-2 rounded-lg">
        {words.map((w) => {
          <div class="text-xs border py-0.5 px-2.5 rounded-md font-semibold bg-slate-400 text-slate-900">
            <p>{w}</p>
          </div>;
        })}
      </div>
    )
  }
</div>
